.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 2px 3px 10px 1px #a8a8a8;
  transform: scale(1.01);
  transition: 0.1s ease-out;
}

.oompa-card-image {
  height: 200px;
  margin-bottom: 15px;
}
