.navbar {
  display: flex;
  background-color: #dcdcdc;
}

.navbar:hover {
  color: grey;
}

.navbar-link {
  display: flex;
  flex: 1;
  padding: 0 10%;
}

.navbar-content {
  display: flex;
  flex: 1;
  padding: 10px;
}

.navbar-image {
  height: 25px;
  margin: 0 20px 0 5px;
}

.navbar-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
